<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="tests" thread-count="2">
    <test name="Test on Chrome" >
        <parameter name="browser" value="chrome"/>
        <classes>

            <class name="Tests.AddRemoveTest"></class>

        </classes>
    </test>
    <test name="Test on firefox">
        <parameter name="browser" value="firefox"/>
        <classes>

            <class name="Tests.AddRemoveTest"></class>

        </classes>
    </test>
</suite>